@charset "utf-8";
@font-face{
	font-family: Roboto;
	src: url("fonts/Roboto-Regular.ttf");
}
body{
	font-family: Roboto,sans-serif;
}
a{color: #36a; text-decoration: none;}
.err{
	width: 90%;
	background: white;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	box-shadow: 0 0 5px #000;
	min-height: 400px;
}
.signature{
	position: absolute;
	left: 10px;
	bottom: 5px;
	font-style: italic;
	color: #666;
}
pre{
	border-radius: 4px;
	box-shadow: 0 0 4px #000 inset;
	padding: 10px 5px;
	margin: 0 auto;
}
@media only screen and (max-width: 510px){
	.err{
		width: 310px;
	}
}
